openapi: 3.1.0
info:
  title: PERKS solution 6a — Procedure API (ITS actions & MCP tools)
  version: 2.0.0
  description: |-
    Every action of the **PERKS Backend** ITS app (`3f519f2c-518e-44e7-bf94-c834660018be`). Supersedes the earlier two-endpoint Procedure API doc, which covered only the add/update + delete ingest calls; those two are unchanged here and keep their original request/response schemas.

    Two ways to call the same actions:

    1. **Executioner REST** — `POST /api/executioner/actions/{actionId}` with the input fields at the TOP LEVEL of the body (NOT wrapped in `{input:{...}}`). This is what the procedure UI uses. One path per action is documented below.
    2. **MCP** — `POST /mcp` (Streamable HTTP, protocol `2025-06-18`, server "Onlim MCP server" 1.0.0). Only actions with category `MCP` that are activated for the calling org appear in `tools/list`; for BEKO that is 8 of the 24 actions (flagged `x-mcp-tool: true` below).

    ITS is shared between the production and staging proxies, so **action ids are stable across both**; what differs per environment is which branch is activated for the calling organisation. The `x-branch` / `x-version-id` values recorded on each operation were read from the `new-ui-backend` branch, the one the BEKO org runs.

    Action definitions live in the dev org `2d2d0691-041c-4778-9b30-99aefed263aa`; they EXECUTE against the use-case org whose id and API key you send in the headers (e.g. BEKO or FAGOR — which share one triple store, namespaced `pko/beko#` vs `pko/fagor#`).
servers:
- url: https://proxy.onlim.com/api/its
  description: Production proxy (org API key auth) — the base for the published partner API
- url: https://proxy-staging.onlim.com/api/its
  description: Staging proxy (org API key auth)
tags:
- name: Discovery
  description: Read procedures and steps out of the knowledge graph.
- name: Execution
  description: 'Procedure-execution lifecycle: start, step, pause/finish, resume, trace, issue reporting.'
- name: Config
  description: Org-wide key/value configuration.
- name: Import
  description: Write procedures into the knowledge graph.
- name: Vector documents
  description: MUS upload + VCT vectorization for document/vector querying.
- name: Legacy chat
  description: Pre-new-UI chat-era actions, kept on the branch. Not used by the procedure UI.
- name: MCP
  description: The Model Context Protocol transport endpoint.
security:
- orgApiKey: []
  orgId: []
paths:
  /api/executioner/actions/a101a48a-c49d-4024-bbd7-b433a6f34e54:
    post:
      tags:
      - Discovery
      summary: Search procedures by keyword
      operationId: SearchProcedure
      x-action-id: a101a48a-c49d-4024-bbd7-b433a6f34e54
      x-category:
      - MCP
      x-mcp-tool: true
      x-branch: new-ui-backend
      x-version-id: 4200bf05-4a19-4868-8c03-8c6581aeaca0
      description: |-
        Search the knowledge graph for procedures by keyword. Returns matching procedures (id, title, description, status, version) and a flag for group-LOTO eligibility. Use this to find a procedure the user wants to start.

        **Action id** `a101a48a-c49d-4024-bbd7-b433a6f34e54` · **branch** `new-ui-backend` · **version** `4200bf05-4a19-4868-8c03-8c6581aeaca0` · **category** `MCP`

        Exposed as an **MCP tool** to the BEKO org (`tools/list`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keyword:
                  type: string
                  title: keyword
                  description: search keyword for the procedure
              additionalProperties: true
      responses:
        '200':
          description: Bare JSON-LD array of matching procedures (id, title, description, status, version,
            `pkobeko:hasGroupLotoStep` flag).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/6bc5d6e9-63cc-4735-8a65-0618b62a7e70:
    post:
      tags:
      - Discovery
      summary: Full step tree of a procedure
      operationId: GetProcedureTree
      x-action-id: 6bc5d6e9-63cc-4735-8a65-0618b62a7e70
      x-category:
      - MCP
      x-mcp-tool: true
      x-branch: new-ui-backend
      x-version-id: 0480f9e6-de05-443f-b20f-7ad6626f62d0
      description: |-
        Return the complete step tree of a procedure (all nesting levels): each step's title, hierarchical identifier, ordering number, and child steps. Lightweight outline for navigation/rendering. Input: uri of the procedure.

        **Action id** `6bc5d6e9-63cc-4735-8a65-0618b62a7e70` · **branch** `new-ui-backend` · **version** `0480f9e6-de05-443f-b20f-7ad6626f62d0` · **category** `MCP`

        Exposed as an **MCP tool** to the BEKO org (`tools/list`).

        _Note:_ A procedure has NO outgoing `pko:hasStep`; steps attach to it via `onlim:isStepOf` (stored transitively). Roots = steps with no incoming `pko:hasStep`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uri:
                  type: string
                  title: uri
                  description: The URI of the procedure to fetch the full step tree for
              required:
              - uri
              additionalProperties: true
      responses:
        '200':
          description: FLAT array of every step at every depth; hierarchy is rebuilt from the direct `pko:hasStep`
            links. Ordering via `pko:stepNumber`, display number via `dcterms:identifier`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/2fe4ee6d-b864-4a4f-b685-4515c260b9d9:
    post:
      tags:
      - Discovery
      summary: Full detail for one step and its substeps
      operationId: GetStepDetails
      x-action-id: 2fe4ee6d-b864-4a4f-b685-4515c260b9d9
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 8984d912-217f-4f6e-a281-01e35a5a15e8
      description: |-
        Return full detail for one step and its substeps: references (docs/images), required PPE, verification, and required action. Input: uri of the step.

        **Action id** `2fe4ee6d-b864-4a4f-b685-4515c260b9d9` · **branch** `new-ui-backend` · **version** `8984d912-217f-4f6e-a281-01e35a5a15e8` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ BEKO PPE hangs off `pko-beko:MachineEnergyPoint` (via `appliesToMachineEnergyPoint`), not off the step; it is projected onto the step as `requiresPPE`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uri:
                  type: string
                  title: uri
                  description: The URI of the step to fetch full detail for
              required:
              - uri
              additionalProperties: true
      responses:
        '200':
          description: 'FLAT array: the clicked step plus its `pko:hasStep*` descendants, each with references,
            required PPE, energy sources (title + hex colour), verification and required action. ~2–4
            KB vs 1.19 MB for the generic entity fetch.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/112bc3cc-e5bd-42b9-aef2-7413da0ed17b:
    post:
      tags:
      - Discovery
      summary: Fetch any KG entity by URI with configurable expansion
      operationId: GetEntityDetails
      x-action-id: 112bc3cc-e5bd-42b9-aef2-7413da0ed17b
      x-category: []
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 78b05867-b74c-41ae-aa4e-99810625f8e3
      description: |-
        Fetch a knowledge-graph entity by URI with configurable expansion depth. Inputs: uri (required); levelOfDetail (optional number).

        **Action id** `112bc3cc-e5bd-42b9-aef2-7413da0ed17b` · **branch** `new-ui-backend` · **version** `78b05867-b74c-41ae-aa4e-99810625f8e3` · **category** `—`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ xHop is capped at 3, which drops deep step titles — retired from the prototype in favour of GetProcedureTree.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uri:
                  type: string
                  title: uri
                  description: URI of the object
                levelOfDetail:
                  type: number
                  title: levelOfDetail
                  description: how deep should the instance search go
                  default: 3
              required:
              - uri
              additionalProperties: true
      responses:
        '200':
          description: The entity expanded to the requested level of detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/d2c474ac-77de-4511-94e9-b620d08b85aa:
    post:
      tags:
      - Execution
      summary: Start executing a procedure
      operationId: StartProcedureExecution
      x-action-id: d2c474ac-77de-4511-94e9-b620d08b85aa
      x-category:
      - MCP
      x-mcp-tool: true
      x-branch: new-ui-backend
      x-version-id: 76b1916d-1543-44b4-8cfb-4b9228a962c3
      description: |-
        Start executing a procedure. Creates the room-scoped procedure-execution state and emits a Kafka event. Inputs: procedureURI (required); isGroupLoto (optional boolean, only for LOTO procedures run as group lock-out).

        **Action id** `d2c474ac-77de-4511-94e9-b620d08b85aa` · **branch** `new-ui-backend` · **version** `76b1916d-1543-44b4-8cfb-4b9228a962c3` · **category** `MCP`

        Exposed as an **MCP tool** to the BEKO org (`tools/list`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                procedureURI:
                  type: string
                  title: procedure uri
                  description: The URI of the procedure to start executing
                isGroupLoto:
                  type: boolean
                  title: is group loto
                  description: Whether the procedure runs as group LOTO. Only relevant for LOTO procedures
                  default: false
                requestId:
                  type: string
                  title: request id
                  description: Client id to correlate the result in app-state.results
                roomUid:
                  type: string
                  description: Room identifier; scopes the execution state (`room:<roomUid>_<key>`). TOP-LEVEL
                    body field, read by the executioner itself — not part of the action input schema.
              additionalProperties: true
      responses:
        '200':
          description: The freshly created `executionState`. Also writes room-scoped state and emits a
            Kafka event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionState'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/081c7477-a722-4d49-9df9-5aa8b9c3d11b:
    post:
      tags:
      - Execution
      summary: Mark a step as executed
      operationId: ExecuteStep
      x-action-id: 081c7477-a722-4d49-9df9-5aa8b9c3d11b
      x-category:
      - MCP
      x-mcp-tool: true
      x-branch: new-ui-backend
      x-version-id: f81df004-c163-4700-8005-e795788e46cf
      description: |-
        Mark a procedure step as executed/completed. Appends a StepExecution (chained to the previous one) to the room execution state and emits a Kafka event. Input: stepURI of the completed step.

        **Action id** `081c7477-a722-4d49-9df9-5aa8b9c3d11b` · **branch** `new-ui-backend` · **version** `f81df004-c163-4700-8005-e795788e46cf` · **category** `MCP`

        Exposed as an **MCP tool** to the BEKO org (`tools/list`).

        _Note:_ BATCH: also accepts an ordered `stepURIs` array (not in the declared schema — allowed by `additionalProperties: true`), recording N chained StepExecutions in one call. The single-`stepURI` response is byte-identical to before.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stepURI:
                  type: string
                  title: step uri
                  description: The URI of the step that has been completed/executed (single-step path)
                requestId:
                  type: string
                  title: request id
                  description: Client-supplied id to correlate the structured result in app-state.results
                roomUid:
                  type: string
                  description: Room identifier; scopes the execution state (`room:<roomUid>_<key>`). TOP-LEVEL
                    body field, read by the executioner itself — not part of the action input schema.
                stepURIs:
                  type: array
                  items:
                    type: string
                  description: 'Undeclared batch input (accepted via additionalProperties): ordered step
                    URIs recorded as N chained StepExecutions in one call.'
              additionalProperties: true
      responses:
        '200':
          description: Updated `executionState` with the appended StepExecution(s); emits Kafka.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionState'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/2efa6907-51cc-4374-a63c-29762b7db11f:
    post:
      tags:
      - Execution
      summary: Finish / cancel / pause the current execution
      operationId: FinishProcedureExecution
      x-action-id: 2efa6907-51cc-4374-a63c-29762b7db11f
      x-category:
      - MCP
      x-mcp-tool: true
      x-branch: new-ui-backend
      x-version-id: d5069038-9a41-44be-bd85-019089ae9d17
      description: |-
        Finish the current procedure execution: set its final status (pko:Completed or pko:Cancelled), persist the whole execution to the knowledge graph, emit Kafka, and clear the room state. Inputs: status (required); userFeedback (optional).

        **Action id** `2efa6907-51cc-4374-a63c-29762b7db11f` · **branch** `new-ui-backend` · **version** `d5069038-9a41-44be-bd85-019089ae9d17` · **category** `MCP`

        Exposed as an **MCP tool** to the BEKO org (`tools/list`).

        _Note:_ Pausing is this action with `status: "pko:Paused"`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userFeedback:
                  type: string
                  title: user feedback
                  description: The feedback given by the user to the execution
                status:
                  type: string
                  title: status
                  description: Procedure status
                  enum:
                  - pko:Completed
                  - pko:Cancelled
                  - pko:Paused
                requestId:
                  type: string
                  title: request id
                  description: Client id to correlate the result
                roomUid:
                  type: string
                  description: Room identifier; scopes the execution state (`room:<roomUid>_<key>`). TOP-LEVEL
                    body field, read by the executioner itself — not part of the action input schema.
              additionalProperties: true
      responses:
        '200':
          description: Confirmation object; the whole execution is persisted to the KG, Kafka is emitted
            and the room state is cleared.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/bfcc5ec7-fa1c-4c45-9d0f-0e07552bd518:
    post:
      tags:
      - Execution
      summary: Resume a paused execution
      operationId: ResumeProcedureExecution
      x-action-id: bfcc5ec7-fa1c-4c45-9d0f-0e07552bd518
      x-category:
      - MCP
      x-mcp-tool: true
      x-branch: new-ui-backend
      x-version-id: 062996ce-ed9c-4379-80de-ebb9aa627ddf
      description: |-
        Resume a previously paused procedure execution by its procedureExecutionURI. Reloads the execution and its already-completed steps from the knowledge graph into the current room and sets the status to in-progress so the user can continue. Use after the user chooses a paused execution to continue (e.g. 'resume/continue this procedure').

        **Action id** `bfcc5ec7-fa1c-4c45-9d0f-0e07552bd518` · **branch** `new-ui-backend` · **version** `062996ce-ed9c-4379-80de-ebb9aa627ddf` · **category** `MCP`

        Exposed as an **MCP tool** to the BEKO org (`tools/list`).

        _Note:_ Does NOT re-persist the KG status — it stays `pko:Paused` until the next Finish. Throws "The paused execution is not available yet. Please try again later." if the KG has not yet indexed the paused execution.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                procedureExecutionURI:
                  type: string
                  title: procedure execution uri
                  description: The @id of the paused ProcedureExecution to resume
                requestId:
                  type: string
                  title: request id
                  description: Client-supplied id to correlate the result in app-state.results
                roomUid:
                  type: string
                  description: Room identifier; scopes the execution state (`room:<roomUid>_<key>`). TOP-LEVEL
                    body field, read by the executioner itself — not part of the action input schema.
              additionalProperties: true
      responses:
        '200':
          description: Bare `executionState` rehydrated from the KG (status forced to `pko:InProgress`),
            re-seeded into the room.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionState'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/87628dba-2031-42b7-9b69-dcdc6fd8542f:
    post:
      tags:
      - Execution
      summary: List procedure executions by status
      operationId: SearchProcedureExecution
      x-action-id: 87628dba-2031-42b7-9b69-dcdc6fd8542f
      x-category:
      - MCP
      x-mcp-tool: true
      x-branch: new-ui-backend
      x-version-id: c7318e95-f299-4d76-9e7e-ee4ba1c54c4a
      description: |-
        List procedure executions filtered by status (default paused). Returns each execution with its procedure, status, start/end time, and completed step count. Use to find a paused or completed procedure execution the user wants to resume or review (e.g. 'which procedures did I pause?', 'show my paused procedures').

        **Action id** `87628dba-2031-42b7-9b69-dcdc6fd8542f` · **branch** `new-ui-backend` · **version** `c7318e95-f299-4d76-9e7e-ee4ba1c54c4a` · **category** `MCP`

        Exposed as an **MCP tool** to the BEKO org (`tools/list`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                procedureURI:
                  type: string
                  title: procedure uri
                  description: 'Optional filter: only return executions of this procedure URI'
                status:
                  type: string
                  title: status
                  description: Procedure execution status CURIE to filter by (default pko:Paused)
                  default: pko:Paused
                keyword:
                  type: string
                  title: keyword
                  description: Optional case-insensitive substring filter on the procedure title
              additionalProperties: true
      responses:
        '200':
          description: 'Bare array sorted by `startedAt` desc: `{procedureExecutionURI, procedureURI,
            procedureTitle?, status (full IRI), startedAt, endedAt, completedStepCount (string)}`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/fc54c7ae-8abf-45d3-89ef-6c5698ecde8d:
    post:
      tags:
      - Execution
      summary: Read the current room execution state
      operationId: GetExecutionState
      x-action-id: fc54c7ae-8abf-45d3-89ef-6c5698ecde8d
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 1810bb1a-7975-40f0-82a7-e909a024ccb4
      description: |-
        Read the current room application state: the procedure execution (procedureExecution, stepExecutions, active/last step), plus issues, questions, and per-request results. No input; scoped to the room.

        **Action id** `fc54c7ae-8abf-45d3-89ef-6c5698ecde8d` · **branch** `new-ui-backend` · **version** `1810bb1a-7975-40f0-82a7-e909a024ccb4` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roomUid:
                  type: string
                  description: Room identifier; scopes the execution state (`room:<roomUid>_<key>`). TOP-LEVEL
                    body field, read by the executioner itself — not part of the action input schema.
              additionalProperties: true
      responses:
        '200':
          description: The room-scoped app state (`procedureExecution`, `stepExecutions`, `activeStepExecution`,
            `lastStepExecution`, `results`) or null when no run is active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionState'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/b1ab9eb6-8a35-4164-8b35-35cfc899bc07:
    post:
      tags:
      - Execution
      summary: Expand one ProcedureExecution into a full trace
      operationId: GetExecutionTrace
      x-action-id: b1ab9eb6-8a35-4164-8b35-35cfc899bc07
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: main
      x-version-id: n/a
      description: |-
        Fetch one ProcedureExecution fully expanded from the KG: ordered StepExecution chain (executed step title, device, timings, prev/next links) + execution KPIs (co2Equivalent, fairnessFactor), target device, status, report, executedBy. Generic across use cases (siemens KPIs optional).

        **Action id** `b1ab9eb6-8a35-4164-8b35-35cfc899bc07` · **branch** `main` · **version** `n/a` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ ONLY present on the `siemens-new-ui-backend` branch — NOT available to the BEKO org.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                procedureExecutionURI:
                  type: string
                  title: procedure execution uri
                  description: URI of the ProcedureExecution to expand into a full step-by-step trace
              required:
              - procedureExecutionURI
              additionalProperties: true
      responses:
        '200':
          description: Ordered StepExecution chain with executed step, timestamps, executor and issue
            occurrences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/ed70b77e-7668-41bc-b719-5abd781509ec:
    post:
      tags:
      - Execution
      summary: Report an issue on the current step
      operationId: ReportError
      x-action-id: ed70b77e-7668-41bc-b719-5abd781509ec
      x-category:
      - MCP
      x-mcp-tool: true
      x-branch: new-ui-backend
      x-version-id: a7c120e1-9246-4ef7-83b7-cc3490c0bf9f
      description: |-
        Report an error or problem encountered while executing the current procedure step. Records an issue occurrence (description, optional error code, whether it was caused or already resolved by the user, optional step feedback) on the step's execution. Use whenever the user reports a fault, defect, malfunction, or something not working on the current step (e.g. 'the valve is stuck', 'this doesn't work', 'there is a problem here').

        **Action id** `ed70b77e-7668-41bc-b719-5abd781509ec` · **branch** `new-ui-backend` · **version** `a7c120e1-9246-4ef7-83b7-cc3490c0bf9f` · **category** `MCP`

        Exposed as an **MCP tool** to the BEKO org (`tools/list`).

        _Note:_ Every field is optional, but a string-typed field REJECTS an explicit `null` — omit blank fields instead of sending null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stepURI:
                  type: string
                  title: step uri
                  description: The URI of the step the error/issue was encountered on
                issueEncountered:
                  type: string
                  title: issue encountered
                  description: Free-text description of the issue/error encountered
                errorCode:
                  type: string
                  title: error code
                  description: Optional error code associated with the issue
                causeByUser:
                  type: string
                  title: possible cause
                  description: 'Optional free-text: the user''s account of the possible cause of the issue'
                solutionByUser:
                  type: string
                  title: possible solution
                  description: 'Optional free-text: the user''s account of the possible solution to the
                    issue'
                stepFeedback:
                  type: string
                  title: step feedback
                  description: Optional free-text user feedback about the step
                requestId:
                  type: string
                  title: request id
                  description: Client-supplied id to correlate the structured result in app-state.results
                roomUid:
                  type: string
                  description: Room identifier; scopes the execution state (`room:<roomUid>_<key>`). TOP-LEVEL
                    body field, read by the executioner itself — not part of the action input schema.
              additionalProperties: true
      responses:
        '200':
          description: Confirmation; records a `pko:IssueOccurence` on the StepExecution and emits a Kafka
            execution trace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/7f5f1ddb-76e6-4543-854c-dd83d97de51c:
    post:
      tags:
      - Config
      summary: Org-wide key/value config get/set
      operationId: ConfigStore
      x-action-id: 7f5f1ddb-76e6-4543-854c-dd83d97de51c
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 9361f21b-2bac-4ac2-bdfe-6e90e95c2d9c
      description: |-
        Generic org-wide key/value config store. With `value` it SETS config:<key> (org scope, never expires); without `value` it GETS the current value, falling back to `default`. E.g. key=featuredProcedureURI for the catalog-featured procedure.

        **Action id** `7f5f1ddb-76e6-4543-854c-dd83d97de51c` · **branch** `new-ui-backend` · **version** `9361f21b-2bac-4ac2-bdfe-6e90e95c2d9c` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ Stored at organization scope under `config:<key>`, never expires. Used for the catalog featured procedure (`featuredProcedureURI`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  title: config key
                  description: Name of the config entry to read/write (org-wide). Stored under "config:<key>".
                    E.g. "featuredProcedureURI".
                value:
                  type: string
                  title: value
                  description: When provided, SETS this config key to this value. When omitted, the action
                    just RETURNS the current value (or the default).
                default:
                  type: string
                  title: default
                  description: Fallback returned when the key has never been set (NOT persisted unless
                    you also pass a value).
                requestId:
                  type: string
                  title: request id
                  description: Optional client-supplied id for correlation.
              additionalProperties: true
      responses:
        '200':
          description: '`{key, value, wasSet, isDefault, default, requestId}`. Effective value = `value
            ?? stored ?? default`; a GET never seeds the default into storage.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/863b8442-84d1-4a13-b0c9-3ca1f33de79e:
    post:
      tags:
      - Import
      summary: Upsert a procedure into the knowledge graph
      operationId: UpsertProcedure
      x-action-id: 863b8442-84d1-4a13-b0c9-3ca1f33de79e
      x-category:
      - IMPORT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 8d1dcb03-94cc-46ff-b7aa-a28f8252a992
      description: |-
        An action for upserting procedure for consumption by the chatbot.

        **Action id** `863b8442-84d1-4a13-b0c9-3ca1f33de79e` · **branch** `new-ui-backend` · **version** `8d1dcb03-94cc-46ff-b7aa-a28f8252a992` · **category** `IMPORT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ Reads a TOP-LEVEL `data` array of EXPANDED JSON-LD nodes (full-IRI `@type`), stamps `ds:compliesWith` per node from the org DS list, then runs a synchronous TS UPSERT with publisher/datasource = the header org. Fresh URIs only — an upsert clobbers existing root triples.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureData'
      responses:
        '200':
          description: TS import report (200) or the TS error (400).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportProcess'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/5ec8d743-afbe-46fe-872a-c6862bc5b632:
    post:
      tags:
      - Import
      summary: Delete a procedure from the knowledge graph
      operationId: DeleteProcedure
      x-action-id: 5ec8d743-afbe-46fe-872a-c6862bc5b632
      x-category:
      - IMPORT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: f46a0368-704c-48ee-8532-9ab24127c7b7
      description: |-
        **Action id** `5ec8d743-afbe-46fe-872a-c6862bc5b632` · **branch** `new-ui-backend` · **version** `f46a0368-704c-48ee-8532-9ab24127c7b7` · **category** `IMPORT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ A `router/main` on `req.body.options.force` / `options.testRun` picks one of three `ts-api/delete-thing` variants (plain / force / dry-run), so `options` is effectively required. publisher/datasource/organizationId all come from the `x-organization-id` header. Identical version on `main` and `new-ui-backend` — the same action backs the published solution-6a partner API on prod.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteProcedureInput'
      responses:
        '204':
          description: Procedure deleted successfully (no content).
        '200':
          description: TS delete report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProcedureResponse'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/1406eae5-39d9-440a-8ef8-eab26e97d2c7:
    post:
      tags:
      - Vector documents
      summary: Upload document(s) to MUS and vectorize them
      operationId: UploadAndVectorizeDocument
      x-action-id: 1406eae5-39d9-440a-8ef8-eab26e97d2c7
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 05abe425-dea0-487a-911d-dd5551fe886d
      description: |-
        Upload document(s) to MUS and create vectorized VCT document(s) for vector querying. Accepts a single file or a batch (files[]); files are stored public. Returns { mediaIds, vctDocumentIds }.

        **Action id** `1406eae5-39d9-440a-8ef8-eab26e97d2c7` · **branch** `new-ui-backend` · **version** `05abe425-dea0-487a-911d-dd5551fe886d` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                files:
                  type: array
                  title: files
                  description: 'Batch: array of { file (base64), fileName, contentType } objects. Use
                    this OR the single file/fileName/contentType fields.'
                file:
                  type: string
                  title: file
                  description: Single file contents (base64). Coalesced into a 1-element files array.
                fileName:
                  type: string
                  title: file name
                  description: Single file name (with extension).
                contentType:
                  type: string
                  title: content type
                  description: Single file MIME type, e.g. application/pdf.
                docSpaces:
                  type: array
                  title: doc spaces
                  description: Optional VCT docSpaces the document(s) belong to.
                keywords:
                  type: array
                  title: keywords
                  description: Optional keywords attached to the VCT document(s).
                inLanguage:
                  type: string
                  title: in language
                  description: Optional ISO language code of the document(s).
                indexStrategy:
                  type: string
                  title: index strategy
                  description: VCT index strategy (SIMPLE | DIVERSE | COMPLEX). Defaults to COMPLEX.
                splitterId:
                  type: string
                  title: splitter id
                  description: Optional VCT splitter id for vectorization.
                separator:
                  type: string
                  title: separator
                  description: Optional VCT chunk separator.
                vectorize:
                  type: boolean
                  title: vectorize
                  description: Whether to create vectors for vector querying. Defaults to true.
                requestId:
                  type: string
                  title: request id
                  description: Client id to correlate the result.
              additionalProperties: true
      responses:
        '200':
          description: '`{vctDocumentIds / mediaIds, ...}` per uploaded document.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/9dff1ddf-d4f0-4974-8312-070cfaaaa246:
    post:
      tags:
      - Vector documents
      summary: Poll vectorization/training status
      operationId: GetVectorizationStatus
      x-action-id: 9dff1ddf-d4f0-4974-8312-070cfaaaa246
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 10966a44-cf5d-4968-ba95-1b001ceef4a8
      description: |-
        Poll vectorization/training status of VCT documents by id (the vctDocumentIds/mediaIds from UploadAndVectorizeDocument). Returns per-doc processingStatus + vectorizationStatus + vectorCount, and an allDone flag.

        **Action id** `9dff1ddf-d4f0-4974-8312-070cfaaaa246` · **branch** `new-ui-backend` · **version** `10966a44-cf5d-4968-ba95-1b001ceef4a8` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                documentIds:
                  type: array
                  title: document ids
                  description: VCT document ids to check (the vctDocumentIds / mediaIds returned by UploadAndVectorizeDocument).
                    Use this OR documentId.
                documentId:
                  type: string
                  title: document id
                  description: Single VCT document id. Coalesced into a 1-element documentIds array.
                requestId:
                  type: string
                  title: request id
                  description: Client id to correlate the result.
              additionalProperties: true
      responses:
        '200':
          description: Per-document vectorization status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/c89d7e89-1013-4b7b-925b-4b7d7fe4f1e8:
    post:
      tags:
      - Vector documents
      summary: List/search VCT documents
      operationId: SearchVectorDocuments
      x-action-id: c89d7e89-1013-4b7b-925b-4b7d7fe4f1e8
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 57d8fa14-653d-4f11-b1b0-e9f72f663be1
      description: |-
        List/search VCT documents (id, name, docSpaces, vectorizationStatus, vectorCount). Optional docSpace/keyword filter, page/pageSize. Returns a lean document list.

        **Action id** `c89d7e89-1013-4b7b-925b-4b7d7fe4f1e8` · **branch** `new-ui-backend` · **version** `57d8fa14-653d-4f11-b1b0-e9f72f663be1` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                docSpace:
                  type: string
                  title: doc space
                  description: Filter by a single docSpace (e.g. 'default'). Omit for all.
                keyword:
                  type: string
                  title: keyword
                  description: Filter by keyword.
                page:
                  type: number
                  title: page
                  description: Page number (default 1).
                pageSize:
                  type: number
                  title: page size
                  description: Page size (default 100).
                requestId:
                  type: string
                  title: request id
                  description: Correlation id.
              additionalProperties: true
      responses:
        '200':
          description: '`{id, name, docSpaces, vectorizationStatus, vectorCount}` per document, paged.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/c87d6b32-a9f1-4486-93cd-4486fb499ff0:
    post:
      tags:
      - Vector documents
      summary: Delete VCT document(s) and their vectors
      operationId: DeleteVectorDocument
      x-action-id: c87d6b32-a9f1-4486-93cd-4486fb499ff0
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 7d9282a4-ebae-458c-857e-b16df6a9ba10
      description: |-
        Delete VCT document(s) and all connected vectors (and the MUS media file) by id. Per id: delete-vectors -> delete-document -> delete MUS media. Accepts documentIds[] or a single documentId. Returns per-id deleted flag + allDeleted.

        **Action id** `c87d6b32-a9f1-4486-93cd-4486fb499ff0` · **branch** `new-ui-backend` · **version** `7d9282a4-ebae-458c-857e-b16df6a9ba10` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                documentIds:
                  type: array
                  title: document ids
                  description: VCT document ids to delete (the vctDocumentIds / mediaIds). Use this OR
                    documentId.
                documentId:
                  type: string
                  title: document id
                  description: Single document id. Coalesced into a 1-element documentIds array.
                requestId:
                  type: string
                  title: request id
                  description: Client id to correlate the result.
              additionalProperties: true
      responses:
        '200':
          description: Per-id delete result (vectors, VCT document and MUS media file).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/93afbb23-8b29-4a83-8f56-a1e8d5bdb951:
    post:
      tags:
      - Legacy chat
      summary: 'Chat-era: resolve the next step(s)'
      operationId: GetNextSteps
      x-action-id: 93afbb23-8b29-4a83-8f56-a1e8d5bdb951
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 1430c46a-26e6-4876-af44-f4bf4c61a826
      description: |-
        **Action id** `93afbb23-8b29-4a83-8f56-a1e8d5bdb951` · **branch** `new-ui-backend` · **version** `1430c46a-26e6-4876-af44-f4bf4c61a826` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ Legacy `jsonata/main` entry, no declared input schema; reads `req.body.stepURI`, `req.body.mode`, `req.body.chatbotId`, `req.body.parameters.managerAgentID` and `req.input.identifier`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stepURI:
                  type: string
                mode:
                  type: string
                chatbotId:
                  type: string
                parameters:
                  type: object
                  properties:
                    managerAgentID:
                      type: string
              additionalProperties: true
      responses:
        '200':
          description: Chat-envelope response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/5c05b47e-31d5-4ca1-94ca-e6c09227e6b5:
    post:
      tags:
      - Legacy chat
      summary: 'Chat-era: retrieve steps of a procedure'
      operationId: RetrieveSteps
      x-action-id: 5c05b47e-31d5-4ca1-94ca-e6c09227e6b5
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 3aab0aa7-789f-40d3-8911-64b3e10a037c
      description: |-
        **Action id** `5c05b47e-31d5-4ca1-94ca-e6c09227e6b5` · **branch** `new-ui-backend` · **version** `3aab0aa7-789f-40d3-8911-64b3e10a037c` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ Legacy `action-execution/main` entry — no input schema declared.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: No input schema declared on this legacy action.
              additionalProperties: true
      responses:
        '200':
          description: Chat-envelope response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/3292baf9-3d29-4cbb-85b0-85df4b993750:
    post:
      tags:
      - Legacy chat
      summary: 'Chat-era: list substeps of a step'
      operationId: ShowSubSteps
      x-action-id: 3292baf9-3d29-4cbb-85b0-85df4b993750
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 1d5135eb-7767-4154-bd6e-a4bf03a0d4ba
      description: |-
        **Action id** `3292baf9-3d29-4cbb-85b0-85df4b993750` · **branch** `new-ui-backend` · **version** `1d5135eb-7767-4154-bd6e-a4bf03a0d4ba` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ LLM-tool flavoured legacy action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stepURI:
                  type: string
                  title: step uri
                  description: the uri of the step
              required:
              - stepURI
              additionalProperties: true
      responses:
        '200':
          description: Array of `{id, title, stepNumber, description}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/858c9a4e-b819-4133-9ab9-545fe4e89f8b:
    post:
      tags:
      - Legacy chat
      summary: Explained transition between two steps
      operationId: GetTransitions
      x-action-id: 858c9a4e-b819-4133-9ab9-545fe4e89f8b
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: 4d7d7257-804a-4e39-95a5-4e7039884503
      description: |-
        **Action id** `858c9a4e-b819-4133-9ab9-545fe4e89f8b` · **branch** `new-ui-backend` · **version** `4d7d7257-804a-4e39-95a5-4e7039884503` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fromStepURI:
                  type: string
                  title: from step uri
                  description: the uri of the step that is the source of the transition
                toStepURI:
                  type: string
                  title: toStepUri
                  description: the uri of the step that is the target of the transition
              required:
              - fromStepURI
              - toStepURI
              additionalProperties: true
      responses:
        '200':
          description: Transition description between the two steps (Siemens decision-graph model).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /api/executioner/actions/dba3ffee-2a04-426f-90c4-5639564b6ba7:
    post:
      tags:
      - Legacy chat
      summary: 'Chat-era: render the error-report form'
      operationId: ReportErrorForm
      x-action-id: dba3ffee-2a04-426f-90c4-5639564b6ba7
      x-category:
      - INTENT
      x-mcp-tool: false
      x-branch: new-ui-backend
      x-version-id: c1d3292c-ad06-45bf-863b-388de2dd1546
      description: |-
        **Action id** `dba3ffee-2a04-426f-90c4-5639564b6ba7` · **branch** `new-ui-backend` · **version** `c1d3292c-ad06-45bf-863b-388de2dd1546` · **category** `INTENT`

        NOT exposed over MCP — call the executioner endpoint directly (UI-direct action).

        _Note:_ Superseded by ReportError for the new UI / MCP path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stepURI:
                  type: string
                  title: step uri
                  description: The uri of the errornous step
              required:
              - stepURI
              additionalProperties: true
      responses:
        '200':
          description: Form definition for the chat UI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResult'
        '400':
          description: Input validation failed (missing required field, or a `null` sent for a string-typed
            field).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid `x-api-key` / `x-organization-id`.
  /mcp:
    post:
      tags:
      - MCP
      summary: MCP connection endpoint (JSON-RPC 2.0 over Streamable HTTP)
      operationId: mcp
      description: |-
        Stateless MCP endpoint. `initialize` is accepted but not required — `tools/list` answers directly and no session-id header is returned. Send `Accept: application/json, text/event-stream`.

        For the BEKO org `tools/list` returns 8 tools: SearchProcedure, GetProcedureTree, StartProcedureExecution, ExecuteStep, FinishProcedureExecution, ResumeProcedureExecution, SearchProcedureExecution, ReportError.

        Caveat: the MCP-advertised input schemas are looser than the executioner ones — only `GetProcedureTree.uri` is declared required, every other tool ships an empty `required` array with `additionalProperties: true`, and validation happens inside the flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
            examples:
              toolsList:
                summary: tools/list
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: tools/list
                  params: {}
              toolsCall:
                summary: tools/call
                value:
                  jsonrpc: '2.0'
                  id: 2
                  method: tools/call
                  params:
                    name: SearchProcedure
                    arguments:
                      keyword: loto
      responses:
        '200':
          description: JSON-RPC result.
          content:
            application/json:
              schema:
                type: object
        '405':
          description: GET and DELETE on /mcp are not supported.
components:
  securitySchemes:
    orgApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Organization API key of the calling use-case organisation.
    orgId:
      type: apiKey
      in: header
      name: x-organization-id
      description: 'Id of the organisation the action executes against (BEKO staging: `9a366c37-680e-4072-aa66-b0c80b06c036`).
        NOTE: for raw SPARQL against `/api/ts/v1/kg/sparql` you must send the API key ALONE — adding this
        header 401s.'
  schemas:
    ExecutionState:
      type: object
      description: Room-scoped procedure-execution state.
      properties:
        procedureExecution:
          type: object
          description: The `pko:ProcedureExecution` node; `adms:status` resolves to a full IRI (`…pko#InProgress|Paused|Completed|Cancelled`).
        stepExecutions:
          type: array
          items:
            type: object
          description: Chained `pko:StepExecution` nodes (`pko:previousStepExecution`), each linked to
            the run via `pko:isIncludedInProcedureExecution`.
        activeStepExecution:
          type:
          - object
          - 'null'
        lastStepExecution:
          type:
          - object
          - 'null'
          description: Most recent StepExecution by `prov:endedAtTime`.
        results:
          type: array
          items:
            type: object
            properties:
              requestId:
                type: string
              tool:
                type: string
              ok:
                type: boolean
          description: Per-call correlation entries keyed by the `requestId` you sent.
    ArrayResult:
      type: array
      description: Bare JSON array (no chat envelope).
      items:
        type: object
    ObjectResult:
      type: object
      description: Bare JSON object (no chat envelope).
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
    JsonRpcRequest:
      type: object
      required:
      - jsonrpc
      - method
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id:
          type:
          - string
          - integer
        method:
          type: string
          description: '`initialize` | `tools/list` | `tools/call`'
        params:
          type: object
    ProcedureData:
      type: object
      properties:
        data:
          type: array
          description: An array containing procedure instances in JSON-LD format.
          items:
            type: object
            description: A single procedure instance in JSON-LD format.
      required:
      - data
    ImportProcess:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the import process.
        customer:
          type: string
          format: uuid
          description: UUID of the customer.
        dataSource:
          type: string
          format: uuid
          description: UUID of the data source.
        importStartTime:
          type: string
          format: date-time
          description: Timestamp when the import started.
        processingDurationMs:
          type: integer
          description: Processing duration in milliseconds.
        verified:
          type: boolean
          description: Indicates whether the import is verified.
        valid:
          type: boolean
          description: Indicates whether the import is valid.
        stored:
          type: boolean
          description: Indicates whether the import data is stored.
        running:
          type: boolean
          description: Indicates whether the import process is still running.
        existingObjects:
          type: boolean
          description: Indicates whether existing objects were found during the import.
        importSize:
          type: integer
          description: Size of the import in bytes.
        operation:
          type: string
          enum:
          - UPSERT
          description: Type of operation performed during the import.
        numberOfStatements:
          type: integer
          description: Number of statements processed during the import.
        qatResponse:
          type: object
          properties:
            score:
              type: number
              description: Overall score of the quality assurance test.
            details:
              type: object
              description: Detailed scores for quality assurance metrics.
              additionalProperties:
                type: string
            entityScores:
              type: array
              description: Scores for individual entities.
              items:
                type: object
                properties:
                  nodeId:
                    type: string
                    description: Node identifier for the entity.
                  score:
                    type: number
                    description: Quality score for the entity.
                  details:
                    type: object
                    description: Detailed scores for quality assurance metrics for the entity.
                    additionalProperties:
                      type: string
                required:
                - nodeId
                - score
        verificationReport:
          type: object
          properties:
            isValid:
              type: boolean
              description: Indicates whether the verification was successful.
            statusCode:
              type: integer
              description: HTTP status code of the verification process.
            reports:
              type: array
              description: Individual verification reports for entities.
              items:
                type: object
                properties:
                  nodeId:
                    type: string
                    description: Node identifier of the entity.
                  usedDs:
                    type: string
                    format: uri
                    description: Domain specification used for verification.
                  verificationReport:
                    type: object
                    properties:
                      verificationResult:
                        type: string
                        description: Result of the verification.
                      errors:
                        type: array
                        description: List of errors during verification.
                        items:
                          type: string
                required:
                - nodeId
                - usedDs
                - verificationReport
        meta:
          type: object
          properties:
            numEntities:
              type: integer
            numVerifiedEntities:
              type: integer
            numNonVerifiedEntities:
              type: integer
            numValidEntities:
              type: integer
            numValidWithWarningEntities:
              type: integer
            numInvalidEntities:
              type: integer
            numTotalErrors:
              type: integer
            errorDistribution:
              type: object
              additionalProperties:
                type: integer
        affectedEntities:
          type: array
          description: List of affected entities during the import.
          items:
            type: object
            properties:
              id:
                type: string
                description: Entity identifier.
              dsUri:
                type: string
                format: uri
                description: Domain specification URI for the entity.
            required:
            - id
            - dsUri
        affectedGraph:
          type: string
          description: Identifier for the affected graph.
      required:
      - id
      - customer
      - dataSource
      - importStartTime
      - processingDurationMs
      - verified
      - valid
      - stored
      - running
      - existingObjects
      - importSize
      - operation
      - numberOfStatements
      - qatResponse
      - verificationReport
      - affectedEntities
      - affectedGraph
    DeleteProcedureInput:
      type: object
      properties:
        options:
          type: object
          description: Options for the delete operation.
          properties:
            force:
              type: boolean
              description: Indicates whether to forcefully delete the procedure.
            testRun:
              type: boolean
              description: Indicates whether this is a test run for the deletion.
          required:
          - force
          - testRun
        uri:
          type: string
          description: URI of the instance to be deleted.
          format: uri
      required:
      - options
      - uri
    DeleteProcedureResponse:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP status code of the response.
        headers:
          type: object
          description: HTTP headers of the response.
          additionalProperties:
            type: string
        body:
          type: object
          description: Body of the response.
          properties:
            notFound:
              type: boolean
              description: Indicates whether the procedure was not found.
            deleteDryRunReport:
              type: object
              description: Report detailing the affected statements in a dry run.
              properties:
                affectedStatements:
                  type: object
                  description: Details of incoming and outgoing statements.
                  properties:
                    incoming:
                      type: array
                      description: List of incoming statements referencing the procedure.
                      items:
                        type: object
                        properties:
                          subject:
                            type: string
                            description: Subject of the statement.
                          predicate:
                            type: string
                            description: Predicate of the statement.
                          ds:
                            type: string
                            description: Data source related to the statement.
                            format: uri
                        required:
                        - subject
                        - predicate
                        - ds
                    outgoing:
                      type: array
                      description: List of outgoing statements made by the procedure.
                      items:
                        type: object
                        properties:
                          subject:
                            type: string
                            description: Subject of the statement.
                          predicate:
                            type: string
                            description: Predicate of the statement.
                          ds:
                            type: string
                            description: Data source related to the statement.
                            format: uri
                        required:
                        - subject
                        - predicate
                        - ds
                  required:
                  - incoming
                  - outgoing
            success:
              type: boolean
              description: Indicates whether the operation was successful.
            executed:
              type: boolean
              description: Indicates whether the deletion was executed.
            '@id':
              type: string
              description: ID of the procedure being referenced.
              format: uri
          required:
          - notFound
          - deleteDryRunReport
          - success
          - executed
          - '@id'
      required:
      - statusCode
      - headers
      - body
